#enemy {
    position: absolute;
    top: 150px;
    left: 0;
    width: 319px;
    height: 100px;
    overflow: hidden;
}

.enemys {
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0;
    width: 49px;
    height: 49px;
    display: block;
    -webkit-appearance: button;
    -moz-appearance: button;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-animation-iteration-count: infinite;
    cursor: pointer;
    opacity: 0.8;
    border: none;
    outline: none;
}

.enemys#enemy_1 {
    top: -93px;
    left: 12px;
}
.enemys#enemy_2 {
    top: -93px;
    left: 74px;
}
.enemys#enemy_3 {
    top: -93px;
    left: 135px;
}
.enemys#enemy_4 {
    top: -93px;
    left: 196px;
}
.enemys#enemy_5 {
    top: -93px;
    left: 258px;
}
.enemys#enemy_6 {
    top: -93px;
    left: 12px;
}
.enemys#enemy_7 {
    top: -93px;
    left: 74px;
}
.enemys#enemy_8 {
    top: -93px;
    left: 135px;
}
.enemys#enemy_9 {
    top: -93px;
    left: 196px;
}
.enemys#enemy_10 {
    top: -93px;
    left: 258px;
}

.enemys:hover {
    opacity: 1;
}

@-webkit-keyframes enemy_1{
	0% {-webkit-transform: translateY(200px);}
	40% {-webkit-transform: translateY(145px);}
	50% {-webkit-transform: translateY(200px);}
	90% {-webkit-transform: translateY(200px);}
	100% {-webkit-transform: translateY(200px);}
}

#enemy_1 {
    -webkit-animation-name: enemy_1;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0s;
}

@-webkit-keyframes enemy_6{
    0% {-webkit-transform: translateY(200px);}
    40% {-webkit-transform: translateY(200px);}
    50% {-webkit-transform: translateY(145px);}
    90% {-webkit-transform: translateY(145px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_6 {
    -webkit-animation-name: enemy_6;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 1s;
}
@-webkit-keyframes enemy_2{
    0% {-webkit-transform: translateY(200px);}
    40% {-webkit-transform: translateY(200);}
    50% {-webkit-transform: translateY(145px);}
    90% {-webkit-transform: translateY(145px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_2 {
    -webkit-animation-name: enemy_2;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 1s;
}
@-webkit-keyframes enemy_7{
    0% {-webkit-transform: translateY(200px);}
    40% {-webkit-transform: translateY(190px);}
    50% {-webkit-transform: translateY(180px);}
    90% {-webkit-transform: translateY(160px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_7 {
    -webkit-animation-name: enemy_7;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 2s;
}
@-webkit-keyframes enemy_3{
    0% {-webkit-transform: translateY(200px);}
    40% {-webkit-transform: translateY(145px);}
    50% {-webkit-transform: translateY(200px);}
    90% {-webkit-transform: translateY(200px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_3 {
    -webkit-animation-name: enemy_3;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 2s;
}
@-webkit-keyframes enemy_8{
    0% {-webkit-transform: translateY(200px);}
    40% {-webkit-transform: translateY(145px);}
    50% {-webkit-transform: translateY(200px);}
    90% {-webkit-transform: translateY(200px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_8 {
    -webkit-animation-name: enemy_8;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 1s;
}
@-webkit-keyframes enemy_4{
    0% {-webkit-transform: translateY(200px);}
    40% {-webkit-transform: translateY(200px);}
    50% {-webkit-transform: translateY(200px);}
    60% {-webkit-transform: translateY(160px);}
    90% {-webkit-transform: translateY(145px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_4 {
    -webkit-animation-name: enemy_4;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 2s;
}
@-webkit-keyframes enemy_9{
    0% {-webkit-transform: translateY(200px);}
    40% {-webkit-transform: translateY(145px);}
    50% {-webkit-transform: translateY(200px);}
    90% {-webkit-transform: translateY(200px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_9 {
    -webkit-animation-name: enemy_9;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0s;
}
@-webkit-keyframes enemy_5{
    0% {-webkit-transform: translateY(200px);}
    40% {-webkit-transform: translateY(190px);}
    50% {-webkit-transform: translateY(160px);}
    90% {-webkit-transform: translateY(145px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_5 {
    -webkit-animation-name: enemy_5;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 2s;
}
@-webkit-keyframes enemy_10{
    0% {-webkit-transform: translateY(200px);}
    40% {-webkit-transform: translateY(200px);}
    50% {-webkit-transform: translateY(200px);}
    90% {-webkit-transform: translateY(145px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_10 {
    -webkit-animation-name: enemy_10;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0s;
}

.enemys:checked + .effect{}

.effect {
    position: absolute;
    z-index: 21;
    width: 106px;
    height: 98px;
    -webkit-pointer-events:none;
    pointer-events: none;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    opacity: 0;
}

#enemy_1 + .effect{top: 0px;left: 0px;}
#enemy_2 + .effect{top: 0px;left: 50px;}
#enemy_3 + .effect{top: 0px;left: 105px;}
#enemy_4 + .effect{top: 0px;left: 164px;}
#enemy_5 + .effect{top: 0px;left: 214px;}
#enemy_6 + .effect{top: 0px;left: 0px;}
#enemy_7 + .effect{top: 0px;left: 50px;}
#enemy_8 + .effect{top: 0px;left: 105px;}
#enemy_9 + .effect{top: 0px;left: 164px;}
#enemy_10 + .effect{top: 0px;left: 214px;}

.enemys:checked + .effect {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
}

#enemy_1:checked + .effect,
#enemy_2:checked + .effect,
#enemy_3:checked + .effect,
#enemy_4:checked + .effect,
#enemy_5:checked + .effect {
    -webkit-animation-name: effect1;
}

#enemy_6:checked + .effect,
#enemy_7:checked + .effect,
#enemy_8:checked + .effect,
#enemy_9:checked + .effect,
#enemy_10:checked + .effect {
    -webkit-animation-name: effect2;
}

@-webkit-keyframes effect1 {
    0% {-webkit-transform:translateX(0px) translateY(0px);opacity: 0;}
    30% {-webkit-transform:translateX(-10px) translateY(-10px);opacity: 1;}
    80% {-webkit-transform:translateX(-10px) translateY(-10px);opacity: 1;}
    100% {-webkit-transform:translateX(0px) translateY(0px);opacity: 0;}
}

@-webkit-keyframes effect2 {
    0% {-webkit-transform:translateX(0px) translateY(0px);opacity: 0;}
    30% {-webkit-transform:translateX(10px) translateY(-10px);opacity: 1;}
    80% {-webkit-transform:translateX(10px) translateY(-10px);opacity: 1;}
    100% {-webkit-transform:translateX(0px) translateY(0px);opacity: 0;}
}

.enemys:checked{
    overflow: hidden;
    -webkit-animation-name: none;
    -webkit-pointer-events:none;
    pointer-events: none;
    opacity: 0;
}

#mound {
    position: absolute;
    z-index: 5;
    top: 160px;
    left: 0;
    display: block;
    width: 319px;
    height: 200px;
    -weblit-pointer-events:none;
    pointer-events: none;
    background-position: 0px 10px;
    background-repeat: no-repeat;
}

#mound .mask {
    position: absolute;
    -webkit-pointer-events:auto;
    pointer-events: auto;
}

#score_board {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 110px;
    height: 65px;
    z-index: 10;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

#score_wrap {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 95px;
    height: 50.6px;
    overflow: hidden;
}

#score_11 {
    position: relative;
    display: block;
    width: 95px;
    height: 550px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

#score {
    position: absolute;
    top: -510px;
    left: 0;
    width: 95px;
    height: 550px;
    
}

.score {
    position: relative;
    display: block;
    width: 95px;
    height: 51px;
    background-color: transparent;
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-transition: 1s linear;
}

.score:checked {
    position: absolute;
    top: 0px;
    height: 0px;
}

#timer {
    position: absolute;
    top: 330px;
    left: 5px;
    z-index: 10;
    width: 309px;
    height: 50px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

#progress {
    position: absolute;
    top: 7px;
    left: 114px;
    width: 170px;
    height: 36px;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    -webkit-animation-name: progress;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 12.5s;
    -webkit-animation-delay: 0.5s;
}

@-webkit-keyframes progress {
    0% {width:0px;}
    100%{width:170px;}
}

#gameover {
    position: absolute;
    top: 0;
    left: 0;
    width: 319px;
    height: 375px;
    -webkit-animation-name: gameover;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 13s;
    -webkit-animation-delay: 0.5s;
    z-index: 20;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    opacity: 1;
}

@-webkit-keyframes gameover {
    0% {top: -465px;opacity: 1;}
    97% {top: -465px;opacity: 0;}
    100% {top: 0px; opacity: 1;}
}
